/* Target SlideShow component directly */
.ss {
    width: 100vw !important;
    height: 100vh !important;
    position: relative !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    z-index: 1 !important;
}

/* Slides & Images */
.ss .carousel-inner,
.ss .carousel-item {
    height: 100vh !important;
}

.ss .carousel-item img {
    width: 100% !important;
    height: 100vh !important;
    margin-top:3%;
    margin-left:5%;
    margin-right:10%;
    object-fit: cover !important;
    object-position: center !important;
}

/* Controls */
.ss .carousel-control-prev,
.ss .carousel-control-next {
    width: 5% !important;
    opacity: 0.8 !important;
}

.ss .carousel-control-prev:hover,
.ss .carousel-control-next:hover {
    opacity: 1 !important;
}

/* Navbar above */
.navbar {
    z-index: 1000 !important;
}

.text
{
    display:absolute;
    margin-top:100px;
    margin-left:350px;
    font-size: 50px;
    margin-bottom:0;
    font-family:'Oswald';
}